<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create new listing</h3>
            <form method="post" action="/listings" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Add a catchy title" name="listing[title]" id="title" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Title required!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label> 
                    <textarea type="text" placeholder="enter description" name="listing[description]" id="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Enter a valid Description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">image</label>
                    <input type="text" placeholder="enter image URL/Link" name="listing[image]" id="image" class="form-control">
                    <div class="valid-feedback">WanderLust provides default images but you can also add your own</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" placeholder="enter price" name="listing[price]" class="form-control" id="price" value="1800" required>
                            <div class="invalid-feedback">Enter a valid Price</div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="enter country" name="listing[country]" class="form-control" id="country" required>
                            <div class="invalid-feedback">Enter a valid Country</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" placeholder="enter location" name="listing[location]" class="form-control" id="location" value="Surat, Gujarat" required>
                    <div class="invalid-feedback">Enter a valid Location</div>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
</body>